@page
@model SouthForkWebsite.Pages.FoodModel
@{
}
<div class="text-center">
    <div class="main-text">
        <h1 class="fw-bold text-capitalize shadow"> Menu</h1>
    </div>
        <div class="menu">
                <div class="menuitem">
                    <h4>Sandwich / Wrap</h4>
                    <div class="container menuitemitem">
                        <p class="split-para shadow">Tuna<span>$3.75</span></p>
                        <p class="split-para shadow">Bologna<span>$3.75</</span></p>
                        <p class="split-para shadow">Ham<span>$3.75</</span></p>
                        <p class="split-para shadow">Turkey<span>$3.75</</span></p>
                        <p class="split-para shadow">Egg<span>$3.75</</span></p>
                        <p class="split-para shadow">Cheese<span>$3.75</</span></p>
                        <p class="split-para shadow">B.L.T.<span>$3.75</</span></p>
                        <p class="split-para shadow text-primary">Add Extra!<span>$1.00</</span></p>
                    </div>
                </div>
            <div class="menuitem">
                    <h4>Hot Sandwich</h4>
                    <div class="container menuitemitem">
                <p class="split-para shadow">Hamburger<span>$4.50</</span></p>
                <p class="split-para shadow">Cheeseburger<span>$5.00</</span></p>
                <p class="split-para shadow">Chicken Breast<span>$4.50</</span></p>
                <p class="split-para shadow">Pulled Pork<span>$4.25</</span></p>
                <p class="split-para shadow text-primary">Add Bacon!<span>$0.75</</span></p>
                    </div>
                </div>
            <div class="menuitem">
                    <h4>Mexican</h4>
                    <div class="container menuitemitem">
                <p class="split-para shadow">Taco<span>$2.00</</span></p>
                <p class="split-para shadow">Burrito<span></</span></p>
                <p class="split-para shadow text-secondary">Small<span class="text-black">$3.50</</span></p>
                <p class="split-para shadow text-secondary">Large<span class="text-black">$4.50</</span></p>
                <p class="split-para shadow">Quesadilla<span></</span></p>
                <p class="split-para shadow text-secondary">Small<span class="text-black">$3.00</</span></p>
                <p class="split-para shadow text-secondary">Large<span class="text-black">$4.00</</span></p>
                <p class="split-para shadow text-primary">Extra Protein!<span>$1.00</</span></p>
                    </div>
                </div>
        </div>
        <div class="menu">
            <div class="menuitem">
                <h4>Hot Dogs</h4>
                <div class="container menuitemitem">
                <p class="split-para shadow">Regular<span>$1.75</</span></p>
                <p class="split-para shadow">Chili Dog<span>$2.50</</span></p>
                </div>
            </div>
            <div class="menuitem">
                <h4>French Fries</h4>
                <div class="container menuitemitem">
                <p class="split-para shadow text-secondary">Small<span class="text-black">$1.50</</span></p>
                <p class="split-para shadow text-secondary">Large<span class="text-black">$2.25</</span></p>
                </div>
            </div>
            <div class="menuitem">
                <h4>Hot Drinks</h4>
                <div class="container menuitemitem">
                <p class="split-para shadow">Coffee<span>$1.50</</span></p>
                <p class="split-para shadow">Tea<span>$1.50</</span></p>
                <p class="split-para shadow">Cocoa<span>$1.50</</span></p>
                </div>
            </div>
        </div>

</div>




